 body{
margin:0;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
 }
 table{
    margin: 50px;
 }
.heading{
    font-size: 70;
    color: white;
    
}
td{
    color: white;
    text-align: center;
width:5vw;
border: 1px solid white;
font-weight: 700;
size: 12px;
}
.none{
    border: none;
}
td:hover{
    filter: brightness(200%);
}
h1{
    color: blue;
}